[Unit]
Description=Import Obsidian vault to SQLite DB
After=syncthing.service

[Service]
Type=oneshot
ExecStart=/home/upe/.local/bin/vault import
WorkingDirectory=/home/upe
