source /usr/share/cachyos-zsh-config/cachyos-config.zsh

{{- if eq .chezmoi.os "linux" }}
[[ -s "$HOME/.gvm/scripts/gvm" ]] && source "$HOME/.gvm/scripts/gvm"
{{- end }}

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
export PATH="$HOME/bin:$PATH"
